<!doctype html>
<html lang="en">

<head>
    <title>Amazon-2</title>
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    
</head>

<body>
    <main role="main">
        <% include ./partials/navbar -%>
            <%- body -%>
            <br><br><br><br>
        <% include ./partials/footer -%>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>    
        <script type="text/javascript" src="/js/custom.js"></script>
    </main>
</body>
</html>